* {
  box-sizing: border-box;
}

.coolTitle {
  text-align: center;
  font-family: 'Oswald', Helvetica, sans-serif;
  font-size: 40px;
  transform: skewY(-10deg);
  letter-spacing: 4px;
  word-spacing: -8px;
  color: tomato;
  text-shadow:
    -1px -1px 0 firebrick,
    -2px -2px 0 firebrick,
    -3px -3px 0 firebrick,
    -4px -4px 0 firebrick,
    -5px -5px 0 firebrick,
    -6px -6px 0 firebrick,
    -7px -7px 0 firebrick,
    -8px -8px 0 firebrick,
    -30px 20px 40px dimgrey;
}

body {
  width: 20rem;
  margin: 0 auto;
  margin-top: 8%;
  border: 1px solid #000;
}

h1, p, #userinput, #enter, .container {
  width: 15rem;
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
}

h1 {
  margin-top: 2rem;
}

#enter {
  width: 3rem;
  padding: 0.3rem;
  color: white;
  background-color: black;
  border: none;
  border-radius: 10%;
}

#enter:hover {
  width: 4rem;
  height: 2rem;
}

.done {
  text-decoration: line-through;
}

li:hover {
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  margin-top: 10px;
  width: 15rem;
}

.delete {
  margin-right: 10px;
}
